* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #512DA8;
}

input {
    position: absolute;
    border: none;
    user-select: none;
    width: 320px;
    height: 60px;
    border: 3px solid black;
    border-radius: 5px;
    outline: none;
    padding-left: 1.25%;
}

input::placeholder {
    transition: .3s;
}

input:focus::placeholder, input:hover::placeholder {
    color: transparent;
    transition: .3s;
}

img {
    position: fixed;
    color: black;
    z-index: 1;
    right: 26.5%;
    width: 32px;
    height: 28px;
}

img:hover {
    cursor: pointer;
}