<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show/Hide Password</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../scripts/main.js" defer></script>
    <link rel="icon" href="../assets/icon/icon.png">
</head>

<body>
    <div class="input-container">
        <input type="password" placeholder="Write your password" id="passwordInput">
        <img src="../assets/images/open_eye-logo.png" id="ImageInput" alt="Eye Icon">
    </div>
</body>
</html>